body {
    font-family: Arial, sans-serif;
}

.google-header {
    text-align: center;
    margin-top: 50px;
}

.google-header h1 {
    color: #f44260;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #45a049;
}
